body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
}
.container{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Table stuff */

.noborder{
    border:none;

    }

.bin {
    display: flex;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 2em;
}