{% extends "index.html" %}

{% block title %}
    Create a project
{% endblock %}

{% block main %}
    <div class="row mt-5 mb-3 text-center">
        <div class = "col display-5">Create a new watch</div>
    </div>

    <div class="row text-center">
        <form class="col gy-3" action="/create_watch" method="post">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="watch_name" name="watch_name" placeholder="Watch name" type = "text">
            <button class="btn btn-primary m-3" type="submit" id="new-watch-submit">Add watch</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
<script>
    document.querySelector("#new-watch-submit").addEventListener("click", function() {
        alert({{ added }});
    });
</script>
{% endblock %}