{% extends "index.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<main>
    <div class="container-fluid header landing-header vertical-center">
        <div class="offset-1 px-4">
            <div class="landing-header-2 display-2 mb-4">Welcome to <span class="display-2 landing-sw">Startwatch</span></div>
            <p class="landing-header-3 lead mb-5 ms-2">
                Startwatch is a time-management tool that uses effort-based productivity goals to give you a sense of accomplishment at the end of each day.
            </p>
            <button class="btn btn-lg btn-primary ms-2">Register to Startwatch</button>
        </div>
    </div> 
    <div class="container-fluid features text-center p-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title display-5">Set</h3>
                <div class="material-symbols-outlined">
                    list_alt
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title display-5">Track</h3>
                <img src="images/column-2.jpg" class="img-fluid">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title display-5">Reflect</h3>
                <img src="images/column-2.jpg" class="img-fluid">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
            </div>
        </div>
    </div>
    <!-- <div class="row landing-description">
        Users can create a "watch" to record time spent working on a project. Working-time can then be visualized
        so users can evaluate their productivity across time.<br>
        Startwatch was born out of the feeling at the end of every day that I'd never done enough.<br>
        • Use in conjunction with a time goal and to do list every day<br>
        • On days you don't finish your to-do list you know you've made the effort<br>
        • On days you finish your to-do list before your time goal, spend a that extra time working on things you avoid adding to your to-do list for whatever reason</div>
    </div>  -->
</main>
{% endblock %}

{% block javascript %}
<script>
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
    }
    ready(() => {
        document.querySelector(".header").style.height = window.innerHeight + "px";
    })
</script>
{% endblock %}