{% extends "index.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<main class="container-fluid py-5 text-center">    
    <div class="display-3 py-5">Welcome to Startwatch</div>
    <p class="lead col-8 offset-2">
        Startwatch is a time-management tools that addresses the shortcomings of to-do lists.
        Users can create a "watch" to record time spent working on a project. Working-time can then be visualized
        so users can evaluate their productivity across time.<br>
        Startwatch was born out of the feeling at the end of every day that I'd never done enough.<br>
        • Use in conjunction with a time goal and to do list every day<br>
        • On days you don't finish your to-do list you know you've made the effort<br>
        • On days you finish your to-do list before your time goal, spend a that extra time working on things you avoid adding to your to-do list for whatever reason
    </p>     
</main>
{% endblock %}