{% extends "index.html" %}

{% block title %}
    Log In 
{% endblock %}

{% block main %}
<div class="row mt-5 text-center">
    <div class="page-title display-5">Log In</div>
</div>
<div class="row m-4 text-center">
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-login btn-primary lead" type="submit">Log In</button>
        <div class="m-3">No account? <a href="register">Register here</a></div>
    </form>
</div>
{% endblock %}