{% extends "index.html" %}

{% block title %}
    Projects Page
{% endblock %}

{% block main %}
    <div class="header">Projects</div>
    <div class="bin"> {% for row in names %}
            <div class = "project"> {{ row[0] }}
                <form action="/projects" method="post">
                    <button class="btn btn-primary stopwatch" value="{{ row[0] }}" type="submit" name="stopwatch">Startwatch</button>
                    <button class="btn btn-primary visualize" value="{{ row[0] }}">Visualize</button>
                    <button class="btn btn-primary edit" value="{{ row[0] }}">Edit</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}