{% extends "index.html" %}

{% block title %}
    Stopwatch
{% endblock %} 

{% block main %}
    <div class="row mt-4 mb-2 text-center">
        <div class="page-title header display-5">
        {{ watch_name }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="stopwatch-cont mt-3 mb-1">
            <div class="row text-center">
                <div class ="col" id = "stopwatch-display">
                    00:00:00
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-3 m-0 mb-">
            <button class="btn btn-primary btn-stopwatch m-3" id = "startStop">Start</button>
            <button class="btn btn-primary btn-stopwatch m-3" id = "reset">Reset</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="static/watch.js"></script>
{% endblock %}
