{% extends "index.html" %}

{% block title %}
    Stopwatch
{% endblock %} 

{% block main %}
    <div class = "container">
        <div class="header">{{ project_name }}</div>
        <div id = "display">
            00:00:00
        </div>
            <button class="btn btn-primary" id = "startStop">Start</button>
            <button class="btn btn-primary" id = "reset">Reset</button>
    </div>
    <p>{{ bloop }}</p>
{% endblock %}

{% block javascript %}
    <script src="static/watch.js"></script>
{% endblock %}
