{% extends "index.html" %}

{% block title %}
    Stopwatch
{% endblock %} 

{% block main %}
    <div class = "container">
            <form action = "/stopwatch" method = "post">
                <div id = "display" name = "display">
                    00:00:00
                </div>
                <div class = "buttons">
                    <button id = "startStop" name = "startStop" type= "submit">Start</button>
                    <button id = "reset">Reset</button>
                </div>
            </form>
            <p>Time-elapsed: {{ time }} </p>   
    </div>
{% endblock %}

{% block javascript %}
    <script src="static/watch.js"></script>
{% endblock %}
