{% extends "index.html" %}

{% block head_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js"></script>
{% endblock %}  

{% block title %}
{% endblock %} 

{% block main %}
    <div class="row my-5 text-center">
        <div class="display-5">{{ watch_name }}</div>
    </div>
    <div class="row text-center">
        <div class="col my-3 text-center chart-cont" style="position: relative; height:60vh; width:80vw">
            <canvas class = "mx-5" id="prod-chart" width="70vw"></canvas>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
(async function createChart() {

    const dateTimes = {{ times | tojson | safe }};

    let dataArr = [];
    for(let i=0; i < dateTimes.length; i++){
    const dataObj = {};
    const date = moment().format(dateTimes[i].substr(2, 10));
    const sec = parseInt(dateTimes[i].substr(21, 2));
    const min = parseInt(dateTimes[i].substr(18, 2));
    const hour = parseInt(dateTimes[i].substr(16, 1));
    const minutes = hour*60 + min + sec/60;
    dataObj["date"] = date;
    dataObj["time"] = minutes;
    dataArr.push(dataObj);
    }

    const today = moment().format('YYYY/MM/DD');
    if(!Object.values(dataArr).includes(today)){
        let newObj = {
            "date": today,
            "time": 0
            };
        console.log(newObj);
        dataArr.push(newObj);
        console.log(dataArr);
    }

    new Chart(
    document.getElementById('prod-chart'), {
        type: 'bar',
        options: {
            scales: {
                x: {
                    type: "time",
                    time: {
                        parser: 'YYYY/MM/DD',
                        unit: "day",
                        unitStepSize: 1,
                        displayFormats: {
                            "day": 'MM/DD/YY'
                        }
                    }
                },
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5
                    }
                }]
            }
        },
        data: {
            labels: dataArr.map(row => row.date),
            datasets: [
                {
                label: 'Minutes worked',
                data: dataArr.map(row => row.time)
                }
            ]
        }
    });
})();</script>
{% endblock %}
