{% extends "index.html" %}

{% block title %}
    Productivity
{% endblock %} 

{% block main %}
    <div class = "container">
        <div class="header">{{ project_name }}</div>
        <div>
            {% for row in times %}
                <div>{{ row }}</div>
            {% endfor %}
        </div>
        <canvas id="myChart" width="400" height="400" id="Chart"></canvas>
        <div>{{ times[0][0] }}</div>
    </div>
{% endblock %}

{% block javascript %}
  <!-- <script type="module" src="static/Chart.js"></script> -->
<script>
  const dateTimes = JSON.parse("{{ times | tojson | safe }}");
  console.log(dateTimes);
</script>
{% endblock %}
