{% extends "index.html" %}

{% block title %}
    Stopwatches
{% endblock %} 

{% block main %}
<div class = "container">
        <div id = "display">
            {{ watch_name }} <br>
            00:00:00
        </div>
        <div class = "buttons">
            <button id = "startStop" onclick="startStop(); submit()">Start</button> 
            <button id = "reset" onclick="reset()">Reset</button>
        </div>
</div>
<div>{{ bloop }}</div>
{% endblock %}

{% block javascript %}
    <script src="static/watch.js"></script>
{% endblock %}
