{% extends "index.html" %}

{% block title %}
Watches
{% endblock %}

{% block main %}
<div class="row my-5 text-center">
    <div class="display-5">Watches</div>
</div>
<div class="watch-cont text-center"> 
    {% for row in watches %}
        <div class="watch-card py-3">
            <div class="watch-text">
                <div class = "watch-display-text"> {{ row[0] }}</div>
            </div>
            <form class="watch-form" action="/watches" method="post">
                <button class="btn btn-watch btn-primary stopwatch mx-0 my-2" value="{{ row[0] }}" type="submit" name="stopwatch">
                    <div class="material-symbols-outlined icon-watch">
                        pace
                    </div>
                    Startwatch
                </button>
                <button class="btn btn-watch btn-primary visualize mx-0 my-2" value="{{ row[0] }}" type="submit" name="visualize">
                    <div class="material-symbols-outlined icon-watch">
                        monitoring
                    </div>
                    Visualize
                </button>
                <button class="btn btn-watch btn-primary edit mx-0 my-2" value="{{ row[0] }}" type="submit" name="edit">
                    <div class="material-symbols-outlined icon-watch">
                        edit
                    </div>
                    Edit
                </button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}